@media print {
  @page {
    margin: 0!important; /* Set margins (adjust as needed) */
  }
  #letter {
    margin: 0cm;
  }
  body {
    font-size: 12pt;
    color: black;
    background: none; /* Remove background colors */
  }
  * {
    background: none !important; /* Remove all background graphics */
  }
  .no-print {
    display: none; /* Hide elements that shouldn't be printed */
  }

  .page-break {
    page-break-before: always; /* Force a new page */
  }

  .content {
    width: 100%;
    max-width: 210mm; /* A4 width */
    padding: 0; /* Keep spacing inside */
    box-sizing: border-box;
    border: none !important;
  }
}

.content {
  padding: 1.5rem;
  border: 1px solid rgb(109, 109, 109);
  min-height: 297mm; /* A4 height */
  max-width: 210mm !important; /* A4 width */
  width: 100%;
}

/* .letter-navbar-top {
  grid-area: navbar;
  background-color: #333;
  color: white;
  padding: 1rem;
}

.main {
  grid-area: main;
  padding: 1.5rem;
} */
/* 
.footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.letter-container {
  display: grid;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
} */
