@media print {
  @page {
    size: A4; /* Set the page size to A4 */
    margin: 0.5cm; /* Set margins (adjust as needed) */
  }
  #letter {
    margin: 0cm;
  }
  body {
    font-size: 12pt;
    color: black;
    background: none; /* Remove background colors */
  }

  .no-print {
    display: none; /* Hide elements that shouldn't be printed */
  }

  .page-break {
    page-break-before: always; /* Force a new page */
  }

  .content {
    width: 100%;
    max-width: 210mm; /* A4 width */
    padding: 0; /* Keep spacing inside */
    box-sizing: border-box;
    border: none !important;
  }
}

.content {
  padding: 1.5rem;
  border: 1px solid rgb(109, 109, 109);
  min-height: fit-content;
  width: 100%;
  max-width: 210mm !important; /* A4 width */
}
